@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

html { scroll-behavior: smooth; }

body {
  background: #F0F4F9;
  margin: 0;
  color: #212121;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  /* font-variation-settings: "wdth" 100; */
}

.primary {
  color: #FD9800;
}

.secandery {
  background: #FFEFB4;
}

.bg-color {
  background: #e4e4e4;
}

.bg-primary {
  background: #FD9800;
}

.primary-text {
  color: #212121;
}

.text-color {
  color: #757575;
}

.border-color {
  color: #707070;
}