@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth !important;
}

body {
  background: #F0F4F9;
  margin: 0;
  color: #212121;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  /* font-variation-settings: "wdth" 100; */
}

.primary {
  color: #FD9800;
}

.secandery {
  background: #FFEFB4;
}

.bg-color {
  background: #E4E4E4;
}

.bg-primary {
  background: #FD9800;
}

.primary-text {
  color: #212121;
}

.text-color {
  color: #757575;
}

.border-color {
  color: #707070;
}

.input-right:after, .input-right:checked:after {
  top: -10px;
  right: -8px;
  left: auto;
}

.input-left:after, .input-left:checked:after {
  top: -10px;
  left: -8px;
  right: auto;
}

input[type='checkbox']:after {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  /* top: 10px; */
  /* left: -11px; */
  /* padding: 5px; */
}

input[type='checkbox']:checked:after {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  background-color: #ffa500;
  background: linear-gradient(90deg,#ffefb4 15%, #ffa500 100%);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #FD9800;
  /* top: 10px; */
  /* left: -11px; */
  /* padding: 5px; */
}

input[type='radio']:after {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  /* top: 10px; */
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  /* left: -11px; */
  /* padding: 5px; */
}

input[type='radio']:checked:after {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  /* top: 10px; */
  position: relative;
  background-color: #ffa500;
  background: linear-gradient(90deg,#ffefb4 15%, #ffa500 100%);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #f97316;
  /* left: -11px; */
  /* padding: 5px; */
}

.swiper-slide {
  width: 100% !important;
}

.swiper-pagination-bullet {
  background-color: #999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #f97316 !important; 
}